- page_title _('Start your Free Ultimate Trial')
- glm_params = { glm_source: params[:glm_source], glm_content: params[:glm_content] }

%h3.center.pt-6
  = _("Start your Free Ultimate Trial")

%p.center
  = _('Your Gitlab Ultimate trial will last 30 days after which point you can keep your free Gitlab account forever. We just need some additional information to activate your trial.')

= render 'errors'

= form_tag create_lead_trials_path(glm_params), method: :post do |f|
  - if experiment_enabled?(:remove_known_trial_form_fields) && current_user.first_name.present?
    = hidden_field_tag :first_name, current_user.first_name
  - else
    .form-group
      = label_tag :first_name, _('First name'), for: :first_name, class: 'col-form-label'
      = text_field_tag :first_name, params[:first_name] || current_user.first_name, class: 'form-control', required: true
  - if experiment_enabled?(:remove_known_trial_form_fields) && current_user.last_name.present?
    = hidden_field_tag :last_name, current_user.last_name
  - else
    .form-group
      = label_tag :last_name, _('Last name'), for: :last_name, class: 'col-form-label'
      = text_field_tag :last_name, params[:last_name] || current_user.last_name, class: 'form-control', required: true
  - if experiment_enabled?(:remove_known_trial_form_fields) && current_user.organization.present?
    = hidden_field_tag :company_name, current_user.organization
  - else
    .form-group
      = label_tag :company_name, _('Company name'), for: :company_name, class: 'col-form-label'
      = text_field_tag :company_name, params[:company_name] || current_user.organization, class: 'form-control', required: true
  .form-group.gl-select2-html5-required-fix
    = label_tag :company_size, _('Number of employees'), for: :company_size, class: 'col-form-label'
    = select_tag :company_size, company_size_options_for_select(params[:company_size]), include_blank: true, class: 'select2', required: true
  .form-group
    = label_tag :phone_number, _('Telephone number'), for: :phone_number, class: 'col-form-label'
    = text_field_tag :phone_number, params[:phone_number], class: 'form-control', required: true
  .form-group
    = label_tag :number_of_users, _('How many users will be evaluating the trial?'), for: :number_of_users, class: 'col-form-label'
    = number_field_tag :number_of_users, params[:number_of_users], class: 'form-control', required: true, min: 1
  .form-group.gl-select2-html5-required-fix
    = label_tag :country, _('Country'), class: 'col-form-label'
    = select_tag :country, options_for_select([[_('Please select a country'), '']]), class: 'select2 gl-transparent-pixel', required: true, id: 'country_select', data: { countries_end_point: countries_path, selected_option: params[:country]}
  = submit_tag _('Continue'), class: 'btn btn-success btn-block'

= render 'skip_trial'
