- expanded = expanded_by_default?

%section.settings.no-animate#cleanup{ class: ('expanded' if expanded) }
  .settings-header
    %h4= _('Repository cleanup')
    %button.btn.js-settings-toggle
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _("Clean up after running %{filter_repo} on the repository." % { filter_repo: link_to_filter_repo }).html_safe
      = link_to sprite_icon('question-o'),
          help_page_path('user/project/repository/reducing_the_repo_size_using_git.md'),
          target: '_blank', rel: 'noopener noreferrer'

  .settings-content
    - url = cleanup_namespace_project_settings_repository_path(@project.namespace, @project)
    = form_for @project, url: url, method: :post, authenticity_token: true, html: { class: 'js-requires-input' } do |f|
      %fieldset.gl-mt-0.gl-mb-3
        .gl-mb-3
          %h5.gl-mt-0
            = _("Upload object map")
          %button.btn.btn-default.js-choose-file{ type: "button" }
            = _("Choose a file")
          %span.gl-ml-3.js-filename
            = _("No file selected")
          = f.file_field :bfg_object_map, class: "hidden js-object-map-input", required: true
        .form-text.text-muted
          = _("The maximum file size is %{size}.") % { size: number_to_human_size(Gitlab::CurrentSettings.max_attachment_size.megabytes) }

      = f.submit _('Start cleanup'), class: 'gl-button btn btn-success'
